<%= form_for(@training) do |f| %>
<% if @training.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>
    <ul>
        <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<article>
    <div class="field">
        <%= f.label :title, "Activity" %>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :location, "Location" %>
        <%= f.text_field :location %>
    </div>
    <div class="field">
        <%= f.label :start_date, "Start date" %>
        <%= f.text_field :start_date, :type => "date", :class => "datepicker" %>
    </div>
    <div class="field">
        <%= f.label :start_time, "Start time (hh:mm)" %>
        <%= f.text_field :start_time, :placeholder => 'hh:mm' %>
    </div>
    <div class="field">
        <label>Training duration (<span id="training_duration-display"></span> minutes)</label>
        <%= f.text_field :duration, :type => "number", :min => "10", :max => "300", :step => "5" %>
    </div>
    <div class="field">
        <label>Points (<span id="training_default_points-display"></span> points)</label>
        <%= f.text_field :default_points, :type => "number", :min => "0", :max => "25000", :step => "50" %>
    </div>
    <div class="actions">
        <%= f.submit "Save" %>
    </div>
</article>
<% end %>