<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<article>
  <div class="field">
    <%= f.label :start_time %><br />
    <!--<%= f.datetime_select :start_time %>-->
    <label>date</label>
    <input type="date" class="datepicker">
    <label>time</label>
    <input type="time">
    <label>Längd <span id="minutes-display">()</span></label>
    <input type="range" id="minutes" min="10" step="5" value="60" max="300">
    <div class="slider"></div>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</article>
<% end %>
