<h1>Trainings</h1>
<%#= render :partial => "/shared/navigation" %>
<%= render :partial => "/shared/status" %>
<!--<button><span>Tidigare</span><small>Läs in föregående vecka</small></button>-->
<section>
<% @trainings.each do |training| %>
    <article>
        <header class="clearfix">
            <time class="day" datetime="<%= training.start_time %>">
                <span><%= training.start_time.to_s(:day) %></span><span><%= training.start_time.to_s(:month_short) %></span>
            </time>
            <h1><%= training.start_time.to_s(:short)%></h1>
        </header>
        <div class="training">
        <% if workout = training.workout_for_person(@current_user) %>
            <div class="training-item clearfix">
                <span class="name"><%= training.title %> <strong><%= workout.points %></strong> poäng </span>
                <%= link_to(toggle_button(true), workout, :method => :delete, :class => "enable-disable")%>
            </div>
        <% else %>
            <%= form_for training.workouts.new(:person => @current_user) do |f| %>
                <%= f.hidden_field :person_id %>
                <%= f.hidden_field :training_id %>
                <%= f.submit "Deltog" %>
                <div class="training-item clearfix">
                    <span class="name"><%= training.title %> ... </span>
                    <a class="enable-disable">
                        <label class="cb-enable"><span>On</span></label>
                        <label class="cb-disable selected"><span>Off</span></label>
                        <input type="checkbox" id="checkbox" class="checkbox" />
                    </a>
                </div>
            <% end %>
        <% end%>
            <span><%= training.location %></span>
            <small>
                <time datetime="<%= training.start_time %>"><%= training.start_time.to_s(:short) %></time>
                <time datetime="<%= training.end_time %>"><%= training.end_time.to_s(:time) %></time>
            </small>
        </div>
        <!--<footer>
            <%= link_to 'Show', training %>
            <%= link_to 'Edit', edit_training_path(training) %>
            <%= link_to 'Destroy', training, :confirm => 'Are you sure?', :method => :delete %>
        </footer>-->
    </article>
<% end %>
</section>
<!--<button>Senare</button>-->
<%= link_to 'New Training', new_training_path %>
