<h1>Trainings</h1>
<button>Tidigare</button>
<article>
<% @trainings.each do |training| %>
    <section>
        <header>
            <h1><%= training.title %></h1>
        </header>
        <span><%= training.location %></span>
        <time datetime="<%= training.start_time %>"><%= training.start_time %></time>
        <time datetime="<%= training.end_time %>"><%= training.end_time %></time>
        <footer>
            <%= link_to 'Show', training %>
            <%= link_to 'Edit', edit_training_path(training) %>
            <%= link_to 'Destroy', training, :confirm => 'Are you sure?', :method => :delete %>
        </footer>
    </section>
<% end %>
</article>
<button>Senare</button>
<%= link_to 'New Training', new_training_path %>
