<!--<button><span>Tidigare</span><small>Läs in föregående vecka</small></button>-->
<section>
<% @trainings.each do |training| %>
    <article>
        <header class="clearfix">
            <time class="day" datetime="<%= training.start_at %>">
                <span><%= training.start_at.to_s(:day) %> <%= training.start_at.to_s(:month_short) %></span>
                <%= training.start_at.to_s(:time)%>-<%= training.end_at.to_s(:time)%>
            </time>
            <% if workout = training.workout_for_person(@current_user) %>
                <div class="training-item clearfix">
                    <%= link_to(toggle_button(true), workout, :method => :delete, :class => "enable-disable", "data-status" => "enabled")%>
                </div>
            <% else %>
                <%= form_for training.workouts.new(:person => @current_user) do |f| %>
                    <%= f.hidden_field :person_id %>
                    <%= f.hidden_field :training_id %>
                    <div class="training-item clearfix">
                        <%= link_to(toggle_button(false), workout, :method => :delete, :class => "enable-disable", "data-status" => "disabled") %>
                    </div>
                <% end %>   
            <% end%>
            <h1><%= training.title %></h1>
        </header>
        <div class="training">
            <% if workout = training.workout_for_person(@current_user) %>
            <span class="points"><strong><%= workout.points %></strong> poäng </span>
            <%end%>
            <span><%= training.location %></span>
        </div>
    </article>
<% end %>
</section>
<!--<button>Senare</button>-->
<div class="actions">
    <%= link_to 'Add', new_training_path, :class => "action-button" %>
</div>
